AurumCoin <dev@aurumcoin.org> Eric ciciotti <ericciciotti@8e:be:82:7b:61:50.home>
AurumCoin <dev@aurumcoin.org> Eric ciciotti <greenhorizon1@yahoo.com>
AurumCoin <dev@aurumcoin.org> Eric ciciotti <Greenhorizon1@yahoo.com>
AurumCoin <dev@aurumcoin.org> Hondacivic1992 <greenhorizon1@yahoo.com>
AurumCoin <dev@aurumcoin.org> Hondacivic1992 <Greenhorizon1@yahoo.com>
